# Data Manipulation
pandas
numpy

# Machine Learning & PCA
scikit-learn
xgboost
lightgbm

# Interpretability (XAI)
shap

# Visualization
matplotlib
seaborn
plotly

# Jupyter Environment
notebook
ipykernel

# File Handling
joblib